<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      crossorigin="anonymous"
    />
    <title>FIFA 22 SBC Rating Calculator</title>
  </head>
  <body>
    <div class="container">
      <header>
        <h1><div style="line-height:60%;"><br></div>FIFA 22 SBC Rating Calculator</h1>
        <p>
        </p>
      </header>
      <main>{% block container %} {% endblock %}</main>
      <main>{% block output %} {% endblock %}</main>
      <footer>
          <small>By: asakti47, 2022</small>
      </footer>
    </div>
  </body>
</html>